
/*make dropdown trangle toggle translate on hover*/
.navbar .nav-item:not(:last-child) {
  margin-right: 35px;
}

.dropdown-toggle::after {
   transition: transform 0.15s linear; 
}

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}

.dropdown-menu {
  margin-top: 0;
}
/**/

/**/
nav-item ul a:hover{
  color: #ec2227 !important;
}
nav li{
    text-align: center;
}
nav li > a:after{
    content: '';
    display: block;
    height: 1.5px;
    background: #ec2227;
    transform: scaleX(0);
    transition: transform .3s;
}
nav li > a:hover:after{
    transform: scaleX(1);
    transition: transform .3s;
}
.active{
    color: #ec2227 !important;
}